{% extends 'base.html' %}
{% block content %}
    <h1 style="text-align: center;">Chat {{ chat.name }}</h1>
    <div class="row">
        <div class="col-md-3">
            <div id="usernames">
            <h3>User list</h3>
                {% for user in users %}
                <p id="user_{{ user.id }}"><a href="{{ user.get_absolute_url }}">{{ user.username }}</a></p>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-6">
            <textarea id="chat-log" cols="100" rows="20" class="form-control"></textarea><br>
            <input id="chat-message-input" type="text" size="100" class="form-control"><br>
            <input id="chat-message-submit" type="button" value="Send" class="btn btn-primary">
        </div>
    </div>

    {{ room_name|json_script:"room-name" }}
    {{ user.username|json_script:"username" }}


    <script>

        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        const messages = {{ messages|safe }}

        for (i=0; i < messages.length; ++i){
            msg = messages[i]['fields']['body'];
            user = messages[i]['fields']['user'];
            console.log(msg);
            document.querySelector('#chat-log').value += (user + ': '+ msg +'\n')
        };

        // Вывод сообщения на странице
        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            if (data.flag === 'NEW'){
                let user = document.querySelector(`#user_${data.user_id}`)
                if (!user) {
                    document.querySelector('#usernames').insertAdjacentHTML('beforeend',
                        `<p id="user_${data.user_id}"><a href="/users/${data.user_id}">${data.username}</a></p>`)
                }
            } else if (data.flag === 'OFF'){
                document.querySelector(`#user_${data.user_id}`).remove()
            }else{
                document.querySelector('#chat-log').value += (data.username+ ': ' +data.message + '\n');
            }

        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };


        // Отправка сообщения по клику
        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message
            }));
            messageInputDom.value = '';
        };

    </script>
{% endblock %}