{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">

            <div class="card text-center">

                <div class="card-body">
                    <div class="card-header">
                        <h2 class="card-title">{{ user.username }} DETAILS</h2>
                    </div>

                    <p class="card-text">Name: {{ user.username }}</p>
                    <p class="card-text">Email: {{ user.email }}</p>
                    {% if  user.image %}
                        <p class="card-text">Image:</p>
                        <img src="{{ user.image.url }}" alt=""><br>
                    {% endif %}
                    {% if user.id == request.user.id %}
                    {% endif %}
                {% if request.user.id == user.id %}
                    <a href="{{ user.user_update }}" class="btn btn-primary mt-2">Edit</a>
                {% endif %}
                </div>

            </div>

            <div class="col-md-3"></div>
        </div>

{% endblock %}